doctype
html
  head
    title Tick Tack Doh!
    link(rel='stylesheet', href='/main.css')
  body
    h1 Tick Tack Doh!
    .create
      a(href='/game/create') Start New
    if games.length
    .join
      a(href='/game') Join a Pending Game
      for game in games
        li: a(href=`/index/${game._id}`) Game: #{game._id}