doctype
html
  head
    title Wheel of Horrible Misfortune
    link(rel='stylesheet', href='/main.css')
  body
    h1 Wheel of Horrible Misfortune

    script(src='/socket.io/socket.io.js')
    script(src='/main.js')