doctype html
html(lang='en')
  head
    title Wheel of Horrible Misfortune
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/main.css')
  body
    h1.wheel Wheel of Horrible Misfortune
    .container
      #gameWord.row
        h1.theWord 
      #missLetters.row
      #players.row
        #pl1.col-sm-4
          h3 Player 1
          label(for='size_1') Score
          input#pl1Score(type='text', value='0')
        .rndPlayer.col-sm-4
          h3 Current Player Here
        #pl2.col-sm-4
          h3 Player 2
          label(for='size_1') Score
          input#pl2Score(type='text', value='0')
      #gamePlay.row
        .col-sm-6
          button#spin.btn.btn-primary(type='button')
            | Spin
        .col-sm-6
          input(type='text', id="letter" value='letter')
          input(type='text', id="word" value='word')
      #guess.row
        .col-sm-6
          button#enterLetter.btn.btn-success(type='button')
            | Enter Letter
        .col-sm-6
          button#guess.btn.btn-danger(type='button')
            | Guess Word
    script(src='/socket.io/socket.io.js')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/main.js')            
