doctype html
html(lang='en')
  head
    title Wheel of Horrible Misfortune
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/main.css')
  body
    h1.wheel Wheel of Horrible Misfortune
    .container
      #gameWord.row
        h1.theWord
      #missLetters.row
      #players.row
        #pl1.col-sm-4
          h3 Player 1
          label(for='size_1') Score
          input#pl1Score(type='text', value='0')
        .rndPlayer.col-sm-4
          h3 Current Player Here
        #pl2.col-sm-4
          h3 Player 2
          label(for='size_1') Score
          input#pl2Score(type='text', value='0')
      #spinIt.row
        .col-sm-12            
          button#spin.btn.btn-primary.center-block(type='button')
            | Spin
      #gamePlay.row
        .col-sm-4
          input.center-block(type='text', id="letter" placeholder='letter' maxlength="1" pattern="[a-zA-Z]{1}")
        .col-sm-4            
        .col-sm-4
          input.center-block(type='text', id="word" placeholder='word')
      #guess.row
        .col-sm-4
          button#enterLetter.btn.btn-success.center-block(type='button')
            | Enter Letter
        .col-sm-4            
        .col-sm-4
          button#guessWord.btn.btn-danger.center-block(type='button')
            | Guess Word
    script(src='/socket.io/socket.io.js')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/main.js')
