body {
	background-color: lightblue;
}

.theWord {
	text-align: center;
}

.wheel {
	text-align: center;
}

#players {
	text-align: center;
}

#missLetters {
	font-size: 1.5em;
}

/* Spin Btn */
#spinIt {
	height: 40px;
}

#spin {
	margin-top: 3px;
}

input {
 	margin: 15px;
}




