body {
	background-color: #f6644e;
	/*font-family: 'Creepster', sans-serif;*/
	color: black;
}


.theWord {
	text-align: center;
}

.wheel {
	text-align: center;
}

#players {
	text-align: center;
}

#missLetters {
	font-size: 1.5em;
}

/* Spin Btn */
#spinIt {
	height: 40px;
}

#spin {
	margin-top: 3px;
}

input {
 	margin: 15px;
}

#gamePlay {
	height: 80px;
}

#choiceResponse {
	text-align: center;
	font-size: 1.2em;
	margin-top: 20px;
}

h1 {
	font-size: 7rem;
}

a {
	font-size: 4rem;
	font-family: 'Creepster';
	color: black;
}

a:hover {
	color: yellow;
}
